
.page {
    padding-top: 200px;
}

.page.projects {
    $type-scaler: 1.2;
	$header-base-size: $type-base-size; 
	@include typeScales($header-base-size, $type-scaler);
    // 100px and up 
    @media screen and (min-width: 100px) {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        li,
        input,
        textarea,
        blockquote,
        code,
        strong,
        em {
            @include char__readable(520px);
            margin: auto;
        }
    }

    // 700px and up
    @media screen and (min-width: $media-small) {}

    // 960px 
    @media screen and (min-width: $media-med) {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        li,
        input,
        textarea,
        blockquote,
        code,
        strong,
        em {
            @include char__readable(750px);
            margin: auto;
        }
    }

    @media screen and (min-width: $media-large) {
        
    }

    @media screen and (min-width: $media-xlarge) {}
}