@import "./base";
@import "./variables";
@import "./typography";
@import "./utilities";
@import "./layout";
//-------------------//
@import "./button-links-cta";

//----Components------//
@import "./components/footer";
@import "./components/nav";

//----Pages------//
@import "./pages/style-guide";
@import "./pages/home";
@import "./pages/projects";

#l-mark {
	animation: 8s linear infinite orbit;
}
#l-mark--light {
	animation: 8s linear infinite reverse orbit;
}
#inner {
	animation: 8s linear infinite scale;
}

@keyframes orbit {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes scale {
	from {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(0.8);
	}
	75% {
		transform: scale(0.9);
	}

	to {
		transform: scale(1);
	}
}
