button {
  font-family: $base-family;
  cursor: pointer;
}

a {
  font-family: $base-family;
  color: $color-grey-8;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-quad;
  }

  &:active {
    background-color: $color-quad;
  }
}

.btn {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  border: solid $color-sec 1px;
  transition: all ease-in-out 0.2s;
  border: 1px solid $pri-type-color;
  max-width: 150px;

  //  todo: add awesome hover and active
  &__primary {
    &--invert {
      background-color: $color-pri;
    }
  }

  &__secondary {
    &--invert {}
  }

  &:hover,
  &:focus {
    background-color: $color-pri;
    color: $color-sec;
  }

  &:active {
    background-color: $color-pri;
    color: $color-sec;
  }
}

a {
  transition: all ease-in-out 0.2s;
  color: $pri-type-color;
}

a,
button,
.btn {
  &>svg {
    transition: all ease-in-out 0.2s;
    font-size: 1.5rem;
    margin-left: $space-atom * $xs;
    margin-bottom: -5px;
  }
}

.icon {
  &--arrow {

    &:hover,
    &:focus {
      &>svg {
        margin-left: 3px;
        transform: scaleX(1.3);
      }
    }

    &:active {
      &>svg {
        margin-left: 3px;
        transform: scaleX(1.3);
      }
    }
  }
}


.cta,
.link {

  &:hover,
  &:focus {
    background-color: $color-quad;
  }

  &:active {
    background-color: $color-quad;
  }

  &__icon {
    &--light {
      svg {
        margin-left: .2rem;
        font-size: 1.5rem;

      }
    }

    &--dark {
      svg {
        margin-left: .2rem;
        font-size: 1.5rem;
        fill: $color-sec;
      }

    }

  }

  &__primary {
    &--light {

      &:hover {}

      &:focus {}

    }

    &--dark {
      color: $color-grey-8;
      border: $color-grey-8 2px solid;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;


      &:hover {
        color: $color-pri;
        background-color: $color-grey-8;
        border: $color-grey-8 2px solid;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

      }

      &:focus {}
    }
  }

  &__secondary {
    &--light {
      &:hover {}

      &:focus {}
    }

    &--dark {
      &:hover {}

      &:focus {}
    }
  }
}